<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @blood_group.group %>
</p>

<%= link_to 'Edit', edit_blood_group_path(@blood_group) %> |
<%= link_to 'Back', blood_groups_path %>
