<header>
<div id="navigation">
<div class="arrows">
	<span class="ar-left"></span>
	<span class="ar-right"></span>
	<span class="ar-left2"></span>
	<span class="ar-right2"></span>
</div> 

<div class="dark-color">
<div class="light-color">
<a href="/" id="logo">Give Me Blood</a>
<nav>
	<ul>

	<% if institution_signed_in? %>
		<li><a href="#" class="active-menu"> <%= current_institution.name || current_institution.email %>  </a></li>
		<li><a href="/donacije">Pregled svih donacija</a></li>
		<li><a href="/pregled">Pregled svih korisnika</a></li>
		<li><a href="/statistika">Statistika</a></li>
		<li> <a href=<%= "/institutions/" +  current_institution.id.to_s + "/edit" %> >  Postavke</a></li>
		<li> <a href="/logout">Logout</a></li>	 
	<% else %>
		<li> <a href="/login">Login</a></li>	
		<li> <a href="/registracija">Registracija</a></li>

	<% end %>
	</ul>
</nav>
</div>
</div>
</div>
</header>