<header>
            <div class="naslovna">
                <div class="logo" style="float:left">
                    <img alt="ovdje ce doc logo" src="/" />
                </div>
                <div class="divmenu">
                            <br />
                    <hr />
                    <div id='cssmenu'>
            <ul>
                <li><a href='/'><span>Super [korisnickoIme]</span></a></li>
                <li><a href='/'><span>Pregled donatora</span></a></li>
                <li><a href='/'><span>Pregled institucija</span></a></li>
                <li><a href='/'><span>Postavke</span></a></li>
                <li><a href='/'><span>Log Out</span></a></li>
            </ul>
        </div>
                    <hr />
                </div>
            </div>
</header>